<p>If you're new here, you should <a href="/sign_up">sign up</a>.</p>

<p>Otherwise, go ahead and log in</p>
<form id="login" action="/login" method="post">
	<label for="username">username</label><input type="text" name="username"/>
	<label for="password">password</lable><input type="text" name="password"/>
	<input type="submit" value="login"/>
</form>

