<h2>Settle on <%= @city.name %></h2>
<form id="settle" action="/settle/<%= @city.id %>" method="post">
	<label for="city_name">City name</label><input type="text" name="city_name"/>
	<input type="submit" value="Settle on <%= @city.name %>"/>
</form>